.footer_copyright {
    max-width: 318px;
    /* height: 18px; */
    color: #545454;
    margin: 0px;
    padding-bottom: 60px; 
    font-family: 'Inter', ‘Arial’, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 960px)    {
    .footer_copyright {
        padding-bottom: 36px;
    }
}

@media screen and (max-width: 320px)    {
    .logo {
        padding: 0px 19px 36px;
    }
}