.edit-btn {
    width: 24px;
    height: 24px;
    grid-area: edit_btn;
    margin-top: 19px;
}

@media screen and (max-width: 730px) {
    .edit-btn {
        margin: 0px;
        align-self: end;
        width: 18px;
        height: 18px;
        margin-bottom: 6px;
    }
}
