.edit__btn_image {
    width: 10px;
    height: 10px;
}

@media screen and (max-width: 730px) {
    .edit__btn_image {
        width: 7px;
        height: 7px;
        padding: 4px 4px;
        margin: 0px;
    }
}