.close__btn {
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0);
    border: none;
    background-image: url(../../images/close_icon.svg);
    background-size: cover;
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
}

.close__btn:hover {
    opacity: 0.6;
  }

  @media screen and (max-width: 475px) {
    .close__btn {
        width: 16px;
        height: 16px;
    }
}